@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Start Navbar*/
body {
    background-color: #eaeaea;
    font-family: 'Poppins', sans-serif;
    color: #2d2d2d;
    font-size: 14px;
}

.form-control {
    font-size: 14px;
}

.row-container {
    background-color :#a5da81;
    margin: 0px;
}



@media screen and (min-width: 994px){
    .form-control {
        width: 300px;
    }    
    }
    
    @media screen and (max-width: 994px){
        .navbar-nav {
            text-align: center;
        }    
        }

/*END Navbar*/

/*Start Produk*/

.row-produk {
    background-color: #fff;
    margin: 0;
    padding: 5px;
    padding-top: 16px;
}

/*END Produk*/

/* Start Undel Line*/
.undel-line{
    border-bottom: 2px solid #2d2d2d ;
    margin-top: 10px;
    margin-bottom: 25px;
}
/*END Undel Line*/

/*Start Button*/
.btn-cos {
    padding: 15px;
    font-size: 14px;
}
/*End Button*/

/* START DES/REV/PROFIL */
.reviw-img {
    width: 50px;
    height: 50px;
}

.review-name {
    font-size: 14px;
    margin-bottom: 10px;
}

.review-des {
    font-size: 14px;
}



.dekripsi {
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}



.review {
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
}
/* END DES/REV/PROFIL */