.bg-image5{
    background: url("../assets/background-image/background1.png");
    background-size: 150%;
    border-radius: 0.25rem;
    background-position-y: -200px ;
}

.bg-image8{
    background: url("../assets/background-image/background8.png");
    background-size: 150%;
    border-radius: 0.25rem;
    background-position-y: -200px ;
}

.bg-image9{
    background: url("../assets/background-image/background9.png");
    background-size: 150%;
    border-radius: 0.25rem;
    background-position-y: -200px ;
}

.bg-image6{
    background: url("../assets/background-image/background6.png");
    background-size: 150%;
    border-radius: 0.25rem;
    background-position-y: -500px ;
}

.bg-image1{
    background: url("../assets/background-image/background2.jpg");
    background-size: 100%;
    background-position-y: 400px;
    transition: 1s;
}

.bg-image2{
    background: url("../assets/background-image/background3.png");
    background-size: 100%;
    background-position-y: 400px;
    transition: 1s;
}

.bg-image3{
    background: url("../assets/background-image/background4.png");
    background-size: 100%;
    background-position-y: 400px;
    transition: 1s;
}

.bg-image4{
    background: url("../assets/background-image/background5.png");
    background-size: 100%;
    background-position-y: 400px;
    transition: 1s;
}

.bg-glass{
    background: rgb(255, 255, 255,0.4);
    border: 2px solid rgb(255, 255, 255, 0.3);
    box-shadow: -10px -10px 17px rgba(5, 5, 5, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 0.25rem;
}

.bg-glass1{
    background: rgb(150, 150, 150,0.4);
    border: 2px solid rgb(255, 255, 255, 0.3);
    box-shadow: -10px -10px 17px rgba(5, 5, 5, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 0.25rem;
    transition: 1s;
}

.bg-glass2{
    background: rgb(0, 0, 0,0.4);
    border: 2px solid rgb(255, 255, 255, 0.3);
    box-shadow: -10px -10px 17px rgba(5, 5, 5, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 0.25rem;
    transition: 1s;
}


.bg-glass1:hover{  
    background: rgb(0, 0, 0, 0.4);
}
.bg-image1:hover, .bg-image2:hover, .bg-image3:hover, .bg-image4:hover{
    background-position-y: 500px;
}

.bg-image7{
    background: url("../assets/background-image/background7.png");
    background-size: 100%;
    background-position-y: 500px;
    transition: 1s;
}
